.player .video-wrapper, .player .video-wrapper .flideo, .player .video-wrapper object, .player .video-wrapper video {
width: 100%;
height:100%;
}


.player .video-wrapper {
position: absolute;
background: #fff;
}

.clear{
clear:both;
}
.floatleft{
float:left;
}
.videocontainer{
text-align: center;
}
.automargin{
    
    margin-left: auto;
    margin-right: auto;
}
iframe{
    height:80px;
}
object{
    width: auto;
    height:260px !important;
 }

hr.transition-timer-carousel-progress-bar {
    height: 10px;
    background-color: #5cb85c;
    width: 0%;
    margin: 0px 0px 0px 0px;
    border: none;
    z-index: 3;
    position: relative;
}

body {
    color:#fff;
    font-family: FuturaLT-Book;
}
main{
    overflow-x: hidden;
}
a {
  color: #CC0000;
  border-bottom-color: 10px solid red;
  text-decoration: none;
}
a:hover {
  color: #CC0000;
  border-bottom-color: red;
  text-decoration: underline;
}


div.header {
    background-color:#0f0f0f;
    height:55px;
    position:fixed;
    width:100%;
    z-index:3;
    top:0px;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=90);
    /* Netscape */
    -moz-opacity: 0.9;
    /* Safari 1.x */
    -khtml-opacity: 0.9;
    /* Good browsers */
    opacity: 0.9;
}
div.footer {
    background-color:#0f0f0f;
    height:55px;
    width:100%;
    z-index:1;
    bottom:0px;
    
    
}
.footer-fix{
    position: relative;
    top: 14px;
    font-size: 23.4px;
    letter-spacing: 18px;
}

body > div.content > main > div > div.social.text-right > a > img{
    margin-right:6px; 
    margin-left:6px;
    margin-top:6px;
    margin-bottom:6px;
}


div.content > main > div > div.social{
    top: 20%;
    position: fixed;
    z-index: 3;
    right: 0px;
    margin-top: 6px;
    background-color: #0f0f0f;
}
.logodenver {
    font-size: 23.4px;
    letter-spacing: 5.2px;
    white-space: nowrap;
}
.logocinematographer {
    font-size: 15px;
    letter-spacing: 17px;
}
span.redtext {
    color:#CC0000;
}
div.content{
     margin: 0px auto;
}
.whitetext{
    color:#fff;
    font-family: FuturaLT-Book;
    text-decoration: none;
}
.blacktext{
    color:#000;
    font-family: FuturaLT-Book;
    text-decoration: none;
}
div.navhref{
        position: relative;
        bottom:14px;
        font-size: 15.5px;
    }
 div.dropdown{
        display:none;
    }
    #myCarousel > ol{
        z-index: 2;
    }
    
body, html, main {
/* important */
height: 100%;
}
 
.cd-fixed-bg {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

 
.cd-fixed-bg.cd-bg-1 {
  background-image: url("/uploads/media/default/0001/01/thumb_63_default_4k.jpeg");
  width: 2048px;
  height: 468px;
}

 
.cd-scrolling-bg {
min-height: 100%;
}

div.cd-container{
    background-color: #0f0f0f;
    height:55px;
    
}

div.cd-container-redline{
    background-color: #0f0f0f;
    background-image: url('/uploads/media/default/0001/01/0c4936942d34d25a12944695726a06e4723d1627.png');
    background-position-y: 22px;
    background-repeat:repeat-x;
    height:55px;

}

span.blackdiv{
    background-color: #0f0f0f;
    width: 100px;
}

div.cd-container-redline > span{
    position: relative;
    top: 18px;
    font-size: 15.5px;
}

div.cd-container > p{
    position: relative;
    top: 18px;
    font-size: 15.5px;
}

div.content > main > div.cd-fixed-bg > div > object > embed,
body > div.content > main > div > div > iframe{
width: 45%;
height: 360px;
margin-top: 165px;
}
div.content > div > div.cd-fixed-bg > div > object > embed{
    //margin-top:125px;
    margin-top:131px;
}

div#myAboutMainCarousel{
 margin-top: 200px;
 right: 130px;
}
#myAboutMainCarousel > a.carousel-control.right{
    width: 27px;
    right: 32px;   
}
#myAboutMainCarousel > a.carousel-control.left{
    width: 27px;
    left: 32px;   
}

div#myAboutLeftCarousel,div#myAboutRightCarousel{
    margin-top: 100px;
    right: 138px;
    
}
div#myAboutRightCarousel{
    right: 123px;
}

#myAboutMainCarousel > ol{
    top: -18px;
} 
.blacktextdropdown{
    color:#000;
    font-family: FuturaLT-Book;
    text-decoration: none;
    font-style: italic;
}
.dropdownalign{
    margin-left:20px;
}

div.content > div.cd-fixed-bg > div > object > embed{
    margin-top:68px;
}

.homepageformemail{
    background-color: black;
}

textarea:focus, input:focus{
    outline: 0;
}
textarea, input{
    bordercolor: white;
    border-bottom-style:solid;
    border-width:1px;
    margin-top:4px;
    color:#fff;
    font-family: FuturaLT-Book;
    font-size: 17px;
    padding-left: 7px;
    
}

.homepageemailerrors > ul > li, .homepagenoticeflashbags > ul > li{
    list-style-type: none;
    color:#fff;
    font-family: FuturaLT-Book;
    font-size: 25px;
}

.emailformname, .emailformemail{
    text-align: left;
}
.emailformmessage{
    text-align: center;
}
.emailsubmit{
    width:95%
}

div.contactcontainer{
    width:100%;
}
.contactcontainerfix{
    margin-right:25%;
    margin-left:25%;
}
div.contactcontainer, div.homepageemailerrors{
    margin-top:200px;
}

.carousel-inner{
  width:100%;
  max-height: 260px !important;
}
@media (max-width: 345px) {
    iframe{
        width: 90px;
        height: 90px;
    }

    .lastname{
        display:none;
    }
    div.logodenver{
        display:none;
    }
    object{
        width: 90px;
        height: 90px;
    }
    embed{
        width: 90px;
        height: 90px;
    }
}

@media all and (min-width: 346px) and (max-width: 425px) {
    iframe{
        width: 160px;
        height: 20px;
    }
    embed{
        width: 248px;
        height: 100px;
    }
    div.logodenver,div.dropdown{
        font-size: 11px;
    }
}


@media (max-width: 797px) {
    div.dropdown{
        display:block;
    }
      
}
@media (max-width: 767px) {
    div.navhref{
        display:none;
    }
    ul { 
       list-style: none;
       color:#fff;
       font-family: FuturaLT-Book;
    }
    div#myAboutLeftCarousel,div#myAboutRightCarousel{
        margin-top: 10px;
    }
    div#myAboutLeftCarousel, div#myAboutRightCarousel {
        margin-top: 0px;
        right: 0px;
    }
    div#myAboutMainCarousel {
    right: 0px;
    margin-top: 0px;
    font-size:10px;

}
   
    
}
@media (max-width: 767px) {
    div#myCarousel{
        margin-left: 8%;
        margin-right: 8%;
    }
    div.logocinematographer{
        display:none;
    }
    div.content > main > div.cd-fixed-bg > div > object > embed {
        width: 45%;
        height: 160px;
        margin-top: 357px;
    }
    div.content > main > div.cd-fixed-bg > div >  iframe {
        width: 45%;
        height: 160px;
        margin-top: 357px;
    }
    #myAboutMainCarousel > a.carousel-control.right{
        width: 27px;
        right: 0px;   
    }
    #myAboutMainCarousel > a.carousel-control.left{
        width: 27px;
        left: 0px;   
    }
    
    .emailformname, .emailformemail{
        text-align: center;
    }
    
    .emailsubmit {
        width: 100%;
    }
    
    .footer-fix{
    position: relative;
    top: 14px;
    font-size: 23.4px;
    letter-spacing: 0px;
}
    
    
    
    
}


@media (min-width: 768px) {
    #myCarousel > div > div > img{
        max-height:1080px;
        max-width:760px;
    }
    div#myCarousel{
        max-height:1080px;
        max-width:760px;
        margin-left:auto;
        margin-right:auto;
    }
}
@media (max-width: 1467px) {
    div.content > main > div.cd-fixed-bg > div > object > embed {
        width: 45%;
        height: 600px;
        margin-top: 357px;
    }
    div.content > main > div > div > iframe{
        width: 45%;
        height: 600px;
        margin-top: 357px;
    }

