@media (max-width: 345px) {
    iframe{
        width: 160px;
        height: 160px;
    }
    object{
        width: auto;
        height: auto;
    }
}
@media all and (min-width: 346px) and (max-width: 510px) {
    iframe{
        width: 160px;
        height: 20px;
    }
    object{
        width: auto;
        height: auto;
    }
}
@media (max-width: 767px) {
    div#myCarousel{
        margin-left: 8%;
        margin-right: 8%;
    }
}
@media (min-width: 768px) {
    #myCarousel > div > div > img{
        max-height:1080px;
        max-width:760px;
    }
    div#myCarousel{
        max-height:1080px;
        max-width:760px;
        margin-left:auto;
        margin-right:auto;
    }
}


.player .video-wrapper, .player .video-wrapper .flideo, .player .video-wrapper object, .player .video-wrapper video {
width: 100%;
height: 86.2%;
}

.player .video-wrapper {
position: absolute;
background: #fff;
}

.clear{
clear:both;
}
.floatleft{
float:left;
}
.videocontainer{
text-align: center;
}
.automargin{
    
    margin-left: auto;
    margin-right: auto;
}
iframe{
    height:260px;
}
object{
        width: auto;
        height:260px !important;
    }

hr.transition-timer-carousel-progress-bar {
    height: 10px;
    background-color: #5cb85c;
    width: 0%;
    margin: 0px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
    display:none;
}