.clear{
clear:both;
}
.floatleft{
float:left;
}
.videocontainer{
text-align: center;
}
.automargin{
    
    margin-left: auto;
    margin-right: auto;
}
iframe{
    height:260px;
}
object{
        width: auto;
        height:auto;
    }

@media (max-width: 510px) {
    iframe{
        width: 160px;
        height: 160px;
    }
    object{
        width: 160px;
        height: 160px;
    }
}

