    <div id="myAboutLeftCarousel" class="carousel slide text-center col-sm-3" data-interval="false" data-ride="carousel">
        <div class="carousel-inner">
            {% for key, attribute in homepageAboutMeLeftSlideshowGallery %}
                {% if attribute is not empty %}
                    <div class="item {% if loop.index0 == 0 %}active{% endif %}">
                        {% media attribute.id, 'big' with {'class': 'img-responsive text-center'} %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if homepageAboutMeLeftSlideshowGallery|length > 1 %}
            <a class="carousel-control left" href="#myAboutLeftCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="carousel-control right" href="#myAboutLeftCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        {% endif %}

    </div>
        
    



