<!DOCTYPE html>
<html>{% spaceless %}
    <head>   
        <title>{% block title %}{% endblock %} | Portfolio</title>
        {% stylesheets '@FreelanceDenverPortfolioBundle/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %} 
    </head>
    <body>
            {% block header %}{% endblock %}
            <div class="content">   
                {% block content %}
                {% endblock %}
            </div>
        {% block javascripts %} 
            {% javascripts 
                '@FreelanceDenverPortfolioBundle/Resources/public/js/jquery.min.js'
                '@FreelanceDenverPortfolioBundle/Resources/public/js/bootstrap.min.js'
                '@FreelanceDenverPortfolioBundle/Resources/public/js/slideshow.js'
                '@FreelanceDenverPortfolioBundle/Resources/public/js/fontsmoothie.min.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
{% endspaceless %}</html>
