{% extends 'FreelanceDenverPortfolioBundle::base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
    {% include 'FreelanceDenverPortfolioBundle:Content:HomepageVideoContent.html.twig' %}
    {% include 'FreelanceDenverPortfolioBundle:Slideshow:HomepageVideoGallery.html.twig' %}
    <div class="clear"></div>
    {% include 'FreelanceDenverPortfolioBundle:Slideshow:HomepageImageGallery.html.twig' %}
{% endblock %}

