    <div class="cd-scrolling-bg cd-color-2 text-center">
        <div id="gallery" class="cd-container-redline">
            <span class="blackdiv">
                <span class="whitetext text-center">{{ 'gallery'|upper }}</span>
            </span>
    </div>
    <div class="cd-fixed-bg" style="background-image: url({% path 146, '4k' %}); width: 100%; height:1028px;overflow-x:hidden">
        {% embed 'FreelanceDenverPortfolioBundle:Gallery:HomepageVideoGallery.html.twig' %}{% endembed %}          
    </div>