{% block social %}
    <div class=" hidden-xs social text-right">
        <a href="https://instagram.com/denver_harward/" class="text-right">{% media 115, 'thumbnail' %}</a>
        <div class="clear"></div>
        <a href="https://www.facebook.com/denver.harward">{% media 117, 'thumbnail' %}</a>
        <div class="clear"></div>
        <a href="https://www.linkedin.com/pub/denver-harward/41/823/2a2">{% media 113, 'thumbnail' %}</a>
        <div class="clear"></div>
        <a href="https://www.youtube.com/user/DenverHarward">{% media 114, 'thumbnail' %}</a>
        <div class="clear"></div>
        <a href="http://www.imdb.com/name/nm5490181/">{% media 116, 'thumbnail' %}</a>
        <div class="clear"></div>
    </div>
{% endblock %}
   
        
