<div class="footer">
    <div class="footercontainer">
        {% block footerdenver %}
            <div class="logodenver col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <span class="redtext footer-fix">{{ 'creating visual stories'|upper }}</span>            
            </div>
        {% endblock %}
    </div>
</div>