<main>
    <div class="cd-fixed-bg" style="background-image: url({% path 102, 'reference' %}); width: 100%; height:1028px;overflow-x:hidden">
        {% embed 'FreelanceDenverPortfolioBundle:Block:HomepageSocialButtonsBlock.html.twig' %}{% endembed %}          
        {% embed 'FreelanceDenverPortfolioBundle:Gallery:HomepageReelGallery.html.twig' %}{% endembed %}
    </div>
</main>